
.cvContent {
  font-family: "Times New Roman", Times, serif;
  word-spacing: 2px;
  font-size: large;
  color: #423c3c;
  letter-spacing: -0.2px;
  background-color: #252526;
  color: rgb(227,246,246);
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (min-width: 520px) {
  header, main, footer {
    max-width: 1000px;
    margin: 0 30px;
  }
}

a:link {
  color: rgb(227,246,246);
  text-decoration: none;
}
a:visited {
  color: rgb(227,246,246);
  text-decoration: none;
}
a:hover{
  color: rgb(37, 161, 183);
  text-decoration: underline;
}
.cvName {
  border-bottom: 3px solid rgb(166, 201, 212);
  padding-top: 12px;
  width: 100%;
}

#cvName{
  width: 100%;
  text-align: center;
}

.code {
  border-style: solid;
  border-color: rgb(155,195,219);
  background: rgb(227,246,246);
  color: rgb(47,52,62);
  text-align: left;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.skillsList, .onlyExp, .eduList, .cvContent{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}


header {
  position: sticky;
  top: 0;
  background: rgb(60,92,131);
  border-style: solid;
  border-color:rgb(60,92,131);
  top: 0;
  bottom: 0;

}

.navig {
  display: flex;
  overflow: auto;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 50px;
  padding-inline-start: 0px;
}

.empty {
  flex-grow: 10;
  flex-shrink: 2;
}

.au {
  align-self: flex-start;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  background-color: rgb(33, 37, 48);
  gap: 10px 10px;
}

#mainCV {
  text-align: center;
}

ul {
  text-align: left;
}

.imgWrap {
  background-image:url("me.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  width: 100%;
}

img {
  border-radius: 50%;
  width: auto;
  height: 200px;
  overflow: hidden;
  display: none;
}
#mainSec {
  margin: auto;
}


footer {
  height: 80px;
  background-color: rgb(60,92,131);
  width: 100%;
  left:0;
  bottom:0;
  text-align: center;

}
.schoolLogo {
  width: 30%;
  height: 40%;
  padding-top: 20px;
  display: inline-block;
}
.myHub {
  color: rgb(227,246,246);
  padding-left: 15px;
}
.rsSchool {
  color: rgb(227,246,246);
}
